{# Page: NavSecondary > Configuration > Check database #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% from '@bolt/dbcheck/_macros.twig' import list %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __('general.phrase.database-check-update') %}

{% form_theme context.form 'form_bolt_layout.twig' _self %}

{% block page_main %}

    {% set hints = context.check.hints|default([]) %}

    <div class="row">
        <div class="col-xs-9">

            {{ form_start(context.form) }}

            {# CSRF token #}
            {{ form_widget(context.form._token) }}
            {# Form block used in "actions" #}
            {{ form_widget(context.form.upgrade, {'attr': {'class': 'btn-secondary hidden'}, 'label': __('general.phrase.upgrade-database')}) }}
            {% if context.debug %}
                {{ form_widget(context.form.hide_changes, {'attr': {'class': 'btn-tertiary hidden'}, 'label': __('general.phrase.hide-proposed-alterations')}) }}
            {% else %}
                {{ form_widget(context.form.show_changes, {'attr': {'class': 'btn-tertiary hidden'}, 'label': __('general.phrase.show-proposed-alterations')}) }}
            {% endif %}

            {% if context.changes %}
                {{ list(__('general.phrase.modifications-database-colon'), context.changes) }}
                {{ list(__('general.phrase.hints-colon'), hints) }}

                {{ form_widget(context.form.check_again, {'attr': {'class': 'btn-primary'}, 'label': __('general.phrase.check-again')}) }}
            {% elseif context.upgrades is iterable %}
                <p class="alert alert-success" role="alert">{{ __('general.phrase.database-types-updated') }}</p>

                <table class="table">
                    <thead>
                    <th>Table Name</th>
                    <th>Records Processed</th>
                    <th>Fields Updated</th>
                    </thead>
                    <tbody>
                    {% for log in context.upgrades %}
                        {% set subject = log[2].subject %}
                        {% set meta = log[2].meta %}
                        {% if meta is iterable %}
                            <tr>
                                <td>{{ subject }}</td>
                                <td>{{ meta.records|number_format }}</td>
                                <td>{{ meta.fields|number_format }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                {{ form_widget(context.form.check_again, {'attr': {'class': 'btn-primary'}, 'label': __('general.phrase.check-again')}) }}
            {% elseif context.check.responsestrings is defined and context.check.responsestrings is iterable %}
                {{ list(__('general.phrase.modifications-needed-colon'), context.check.responsestrings) }}
                {{ list(__('general.phrase.hints-colon'), hints) }}

                {{ form_widget(context.form.update, {'attr': {'class': 'btn-primary'}, 'label': __('general.phrase.update-database') }) }}
            {% else %}
                <p class="alert alert-success" role="alert">{{ __('general.phrase.database-up-to-date-already') }}</p>

                {{ list(__('general.phrase.hints-colon'), hints) }}
            {% endif %}

            {{ form_end(context.form, {'render_rest': false}) }}

            {% if isallowed('prefill') %}

                <br>
                <hr>

                <p class="alert alert-warning" role="alert">
                    <b>{{ __('general.phrase.tip-colon') }}</b>
                    {{ __('Add some sample <a href=\'%url%\' class=\'btn btn-default\'>Records with Loripsum text</a>', {'%url%': path('prefill')}) }}
                </p>

            {% endif %}
        </div>

        <div class="col-md-3">
            {{ include('@bolt/dbcheck/_aside.twig') }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if context.debug %}

                {% if context.creates is not empty %}
                    <hr>
                    <h4>Table Creations</h4>
                    {% for table, create in context.creates %}
                        <h5>{{ table }}</h5>
                        <ol>
                        {% for sql in create %}
                            <li>{{ sql }}</li>
                        {% endfor %}
                        </ol>
                        {{ dump(context.creates[table]) }}
                    {% endfor %}
                {% endif %}

                {% if context.alters is not empty %}
                    <hr>
                    <h4>Table Alterations</h4>
                    {% for table, alter in context.alters %}
                        <h5>{{ table }}</h5>
                        <ol>
                        {% for sql in alter %}
                            <li>{{ sql }}</li>
                        {% endfor %}
                        </ol>
                        {{ dump(context.diffs[table]) }}
                    {% endfor %}
                {% endif %}

            {% endif %}
        </div>
    </div>

{% endblock page_main %}
